@charset "UTF-8";

/* 回答はここに書いてね */

.q4__content {
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
  text-align: center;
}

.q4__box {
  display: table;
  display: flex;
}

.q4__box:last-child {
  margin-top: 20px;
}

.color {
  padding: 20px 0;
  display: table-cell;
}

.pink {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
  flex: 1;
}

.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow {
  background-color: #e5d32e;
  flex: 1;
}

.red {
  background-color: #ec8f9a;
  flex: 1;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
